:root {
	--text-primary: #000;
	--bgPrimary: #fff;
	--bgSecondary: #f9f9f9;
	--pink: #0071bd;
	--light-blue: #e6f7ff;
	--border: #d9d9d9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:hover {
	color: var(--pink) !important;
}

.App {
	display: flex;
	height: 100vh;
}

.navbar {
	flex: 0.2;
	height: 100vh;
	background-color: #202a44;
}

.main {
	flex: 0.8;
	overflow: scroll;
}
.routes {
	padding: 20px;
}
